<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sparrow.CommonLibrary">
      <section name="cache" type="Sparrow.CommonLibrary.Cache.Configuration.CacheConfigurationSection,Sparrow.CommonLibrary"/>
      <section name="logging" type="Sparrow.CommonLibrary.Logging.Configuration.LoggingConfigurationSection,Sparrow.CommonLibrary"/>
      <section name="weblog" type="Sparrow.CommonLibrary.Weblog.Configuration.WeblogConfigurationSection,Sparrow.CommonLibrary"/>
      <section name="database" type="Sparrow.CommonLibrary.Database.Configuration.DatabaseConfigurationSection,Sparrow.CommonLibrary"/>
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="test" 
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=test;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <sparrow.CommonLibrary>

    <cache>
      <caches>
        <add regionName="default" default="true" type="Sparrow.CommonLibrary.Cache.LocalCache,Sparrow.CommonLibrary" />
        <add regionName="test2" type="Sparrow.CommonLibrary.Cache.LocalCache,Sparrow.CommonLibrary" />
      </caches>
    </cache>

    <!--<logging lowLevel="Debug">
      <writers>
        <writer name="writer1" type="Sparrow.CommonLibrary.Logging.Writer.TextLogWriter,Sparrow.CommonLibrary">
          <params>
            <add name="maxsize" value="1MB"/>
            <add name="folder" value="c:\test\sprlog\%year%%month%\debug%day%log.log"/>
          </params>
        </writer>
      </writers>
    </logging>-->
    <logging lowLevel="Debug">
      <filters>
        <filter name="filter1" logLevel="Debug,Warning,Error" type="Sparrow.CommonLibrary.Logging.Filter.LogFilter,Sparrow.CommonLibrary"/>
        <filter name="filter2" logLevel="Info,Trace" />
      </filters>
      <writers>
        <writer name="writer1" filter="filter1" type="Sparrow.CommonLibrary.Logging.Writer.TextLogWriter,Sparrow.CommonLibrary">
          <params>
            <add name="maxsize" value="1MB"/>
            <add name="folder" value="c:\test\sprlog\%year%%month%\debug%day%log.log"/>
          </params>
        </writer>
        <writer name="writer2" filter="filter2" type="Sparrow.CommonLibrary.Logging.Writer.TextLogWriter,Sparrow.CommonLibrary">
          <params>
            <add name="maxsize" value="500KB"/>
            <add name="folder" value="c:\test\sprlog\%year%%month%\info%day%log.log"/>
          </params>
        </writer>
      </writers>
    </logging>

    <weblog version="1.0">
      <ignores>
        <ignore name="ig1" match="\.(js|css|jpg|png|gif|jpeg|exe|swf|pdf|xls|doc|xlsx|docx|txt|log)([\?&amp;][\w\w]*)?$"/>
      </ignores>
      <collect items="req_url,protocol,domain,absolute_path,query_string,req_type,user_agent,url_referrer,status_code,server_host,server_port,user_host,visit_time,sid,vuca,rewriter_url,load_time">
      </collect>
      <writer type="Sparrow.CommonLibrary.Weblog.Writer.TextWeblogWriter,Sparrow.CommonLibrary">
        <params>
          <add name="maxsize" value="2MB"/>
          <add name="folder" value="c:\test\sprweblog\%year%%month%\%day%log.log"/>
        </params>
      </writer>
    </weblog>

    <database>
      <providers>
        <provider name="test">
          <builder type="Sparrow.CommonLibrary.Database.SqlBuilder.SqlServerStatementBuilder,Sparrow.CommonLibrary"/>
        </provider>
      </providers>
    </database>

  </sparrow.CommonLibrary>

</configuration>