<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sparrow.CommonLibrary">
      <section name="cache" type="Sparrow.CommonLibrary.Weblog.Configuration.CacheConfigurationSection"/>
      <section name="database" type="Sparrow.CommonLibrary.Database.Configuration.DatabaseConfigurationSection"/>
    </sectionGroup>
  </configSections>

  <sparrow.CommonLibrary>

    <cache>
      <caches>
        <add regionName="default" default="true" type="Sparrow.CommonLibrary.Cache.LocalCache,Sparrow.CommonLibrary" />
        <add regionName="test2" type="Sparrow.CommonLibrary.Cache.ICache,......" connectionString="172.0.0.1:6379;172.0.0.1:6380......"/>
      </caches>
    </cache>

    <database>
      <providers>
        <provider name="test">
          <builder type="Sparrow.CommonLibrary.Database.SqlBuilder.SqlServerStatementBuilder,Sparrow.CommonLibrary"/>
        </provider>
      </providers>
    </database>
    
    <!--<crypto>
      <algorithms>
        <algorithm name="">
          <params>
            <add name="" value=""/>
            <add name="" value=""/>
          </params>
        </algorithm>
      </algorithms>
    </crypto>-->
  </sparrow.CommonLibrary>

</configuration>