<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sparrow.CommonLibrary">
      <section name="logging" type="Sparrow.CommonLibrary.Logging.Configuration.LoggingConfigurationSection"/>
      <section name="weblog" type="Sparrow.CommonLibrary.Weblog.Configuration.WeblogConfigurationSection"/>
      <section name="database" type="Sparrow.CommonLibrary.Database.Configuration.DatabaseConfigurationSection"/>
    </sectionGroup>
  </configSections>

  <sparrow.CommonLibrary>

    <cache>
      <caches>
        <add regionName="default" default="true" type="Sparrow.CommonLibrary.Cache.LocalCache,Sparrow.CommonLibrary" />
        <add regionName="test2" type="Sparrow.CommonLibrary.Cache.ICache,......" connectionString="172.0.0.1:6379;172.0.0.1:6380......"/>
      </caches>
    </cache>

    <logging lowLevel="Debug">
      <filters>
        <filter name="filter1" logLevel="Debug|Warning|Error" type="Sparrow.CommonLibrary.Logging.Filter.LogFilter,Sparrow.CommonLibrary"/>
        <filter name="filter2" logLevel="Trace|Info" categories="default,cty2"/>
      </filters>
      <writers>
        <writer name="writer1" filter="filter1" type="Sparrow.CommonLibrary.Logging.Writer.TextLogWriter,Sparrow.CommonLibrary">
          <params>
            <add name="maxsize" value="1MB"/>
            <add name="folder" value="c:\\test\sprlog\%year%%month%\debug%day%log.log"/>
          </params>
        </writer>
        <writer name="writer2" filter="filter2" type="Sparrow.CommonLibrary.Logging.Writer.TextLogWriter,Sparrow.CommonLibrary">
          <params>
            <add name="maxsize" value="1MB"/>
            <add name="folder" value="c:\\test\sprlog\%year%%month%\%day%log.log"/>
          </params>
        </writer>
      </writers>
    </logging>

    <weblog version="1.0">
      <ignores>
        <ignore name="ig1" match="\.(js|css|jpg|png|gif|jpeg|exe|swf|pdf|xls|doc|xlsx|docx|txt|log)([\?&amp;][\w\w]*)?$"/>
      </ignores>
      <collect items="req_url,protocol,domain,absolute_path,query_string,req_type,user_agent,url_referrer,status_code,server_host,server_port,user_host,visit_time,sid,vuca,rewriter_url,load_time">
        <customs>
          <add name="vuca" type="Sparrow.CommonLibrary.Weblog.Collect.ICollecter,......"/>
          <add name="sid" type="Sparrow.CommonLibrary.Weblog.Collect.ICollecter,......"/>
        </customs>
      </collect>
      <writer type="Sparrow.CommonLibrary.Weblog.Writer.TextWeblogWriter,Sparrow.CommonLibrary">
        <params>
          <add name="maxsize" value="2MB"/>
          <add name="folder" value="c:\\test\sprweblog\%year%%month%\error%day%log.log"/>
        </params>
      </writer>
    </weblog>

    <database>
      <providers>
        <provider name="test">
          <builder type="Sparrow.CommonLibrary.Database.SqlBuilder.SqlServerStatementBuilder,Sparrow.CommonLibrary"/>
          <importer type="Sparrow.CommonLibrary.Database.ImporterForSqlServer,Sparrow.CommonLibrary"/>
        </provider>
      </providers>
    </database>
    
    <!--<crypto>
      <algorithms>
        <algorithm name="">
          <params>
            <add name="" value=""/>
            <add name="" value=""/>
          </params>
        </algorithm>
      </algorithms>
    </crypto>-->
  </sparrow.CommonLibrary>

</configuration>