<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="sparrow.CommonLibrary">
      <section name="logging" type="Sparrow.CommonLibrary.Logging.Configuration.LoggingConfigurationSection"/>
      <section name="weblog" type="Sparrow.CommonLibrary.Weblog.Configuration.WeblogConfigurationSection"/>
      <section name="data" type="Sparrow.CommonLibrary.Database.Configuration.DatabaseConfigurationSection"/>
    </sectionGroup>
  </configSections>

  <sparrow.CommonLibrary>

    <cache>
      <caches>
        <add regionName="" default="true" type="" connectionString=""/>
      </caches>
    </cache>

    <logging lowLevel="">
      <filters>
        <filter name="filter1" logLevel="debug" type=""/>
        <filter name="filter2" categories="default,cty2" logLevel=""/>
      </filters>
      <writers>
        <writer name="writer1" filter="filter1" mode="text" type=""/>
        <writer name="writer2" filter="" mode="db" >
          <params>
            <add name="" value=""/>
          </params>
        </writer>
      </writers>
    </logging>

    <weblog version="1.0">
      <ignores>
        <ignore name="ig1" match=""/>
      </ignores>
      <collect items="req_url,req_type,user_agent,url_referrer,status_code,server_host,server_port,user_host,visit_time,sid,vuca,rewriter_url,load_time">
        <customs>
          <add name="vuca" type=""/>
        </customs>
      </collect>
      <writer mode="db" type="">
        <params>
          <add name="" value=""/>
        </params>
      </writer>
    </weblog>

    <database>
      <providers>
        <provider name="connName/providerName">
          <builder type=""/>
          <executer type=""/>
          <importer type=""/>
        </provider>
      </providers>
    </database>

    <!--<crypto>
      <algorithms>
        <algorithm name="">
          <params>
            <add name="" value=""/>
            <add name="" value=""/>
          </params>
        </algorithm>
      </algorithms>
    </crypto>-->
  </sparrow.CommonLibrary>

</configuration>